#root {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0 0 70%;
  align-content: center;

}

.intro-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border: 5px solid orange;
}

.desc-container{
  width: 50%;
  border: 5px solid blue;

}

.img-container{
  border: 5px solid yellow;
}

.toggle-button{

}
